# California Housing Price Prediction and Classification

In this project, the goal is to compare the performance of **Linear Regression**, **Logistic Regression**, and **K-Nearest Neighbors (KNN)** on the California Housing Prices dataset (with extra distance features). The dataset contains 14 attributes describing housing blocks in California from the 1990 census, including median house value, income, house age, rooms, population, households, latitude, longitude, and distances to the coast and major cities.[page:1]

We will:
- Predict **Median House Value** as a regression problem using Linear Regression and KNN Regression.
- Define a binary label (**expensive vs cheap**) from Median House Value and solve a classification problem using Logistic Regression and KNN Classification.

In [4]:
# Topic 1: Setup & Data Loading

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (
    mean_squared_error, r2_score,
    accuracy_score, precision_score, recall_score, f1_score, roc_auc_score,
    confusion_matrix, classification_report
)

# Make plots look nicer
plt.style.use("seaborn-v0_8")
sns.set_palette("viridis")

RANDOM_STATE = 42

csv_path = "/content/California_Houses.csv"

df = pd.read_csv(csv_path)

print("Shape:", df.shape)
df.head()

df.info()
print("\nBasic statistics:")
display(df.describe().T)

print("\nMissing values per column:")
print(df.isna().sum())

Shape: (20640, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Median_House_Value        20640 non-null  float64
 1   Median_Income             20640 non-null  float64
 2   Median_Age                20640 non-null  int64
 3   Tot_Rooms                 20640 non-null  int64
 4   Tot_Bedrooms              20640 non-null  int64
 5   Population                20640 non-null  int64
 6   Households                20640 non-null  int64
 7   Latitude                  20640 non-null  float64
 8   Longitude                 20640 non-null  float64
 9   Distance_to_coast         20640 non-null  float64
 10  Distance_to_LA            20640 non-null  float64
 11  Distance_to_SanDiego      20640 non-null  float64
 12  Distance_to_SanJose       20640 non-null  float64
 13  Distance_to_SanFrancisco  20640 non-null  float64
dtypes: float64(9), int64(5)
memory usage: 2.2 MB

Basic statistics:

,count,mean,std,min,25%,50%,75%,max
Median_House_Value,20640.0,206855.816909,115395.615874,14999.000000,119600.000000,179700.000000,264725.000000,5.000010e+05
Median_Income,20640.0,3.870671,1.899822,0.499900,2.563400,3.534800,4.743250,1.500010e+01
Median_Age,20640.0,28.639486,12.585558,1.000000,18.000000,29.000000,37.000000,5.200000e+01
Tot_Rooms,20640.0,2635.763081,2181.615252,2.000000,1447.750000,2127.000000,3148.000000,3.932000e+04
Tot_Bedrooms,20640.0,537.898014,421.247906,1.000000,295.000000,435.000000,647.000000,6.445000e+03
Population,20640.0,1425.476744,1132.462122,3.000000,787.000000,1166.000000,1725.000000,3.568200e+04
Households,20640.0,499.539680,382.329753,1.000000,280.000000,409.000000,605.000000,6.082000e+03
Latitude,20640.0,35.631861,2.135952,32.540000,33.930000,34.260000,37.710000,4.195000e+01
Longitude,20640.0,-119.569704,2.003532,-124.350000,-121.800000,-118.490000,-118.010000,-1.143100e+02
Distance_to_coast,20640.0,40509.264883,49140.039160,120.676447,9079.756762,20522.019101,49830.414479,3.338047e+05
Distance_to_LA,20640.0,269421.981646,247732.446134,420.589109,32111.253908,173667.461747,527156.235384,1.018260e+06
Distance_to_SanDiego,20640.0,398164.933494,289400.563735,484.917973,159426.394646,214739.830318,705795.399035,1.196919e+06
Distance_to_SanJose,20640.0,349187.551219,217149.875026,569.448118,113119.928682,459758.877000,516946.490963,8.367627e+05
Distance_to_SanFrancisco,20640.0,386688.422291,250122.192316,456.141313,117395.477505,526546.661701,584552.007907,9.036277e+05

Missing values per column:
Median_House_Value          0
Median_Income               0
Median_Age                  0
Tot_Rooms                   0
Tot_Bedrooms                0
Population                  0
Households                  0
Latitude                    0
Longitude                   0
Distance_to_coast           0
Distance_to_LA              0
Distance_to_SanDiego        0
Distance_to_SanJose         0
Distance_to_SanFrancisco    0
dtype: int64